In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/raw/HDFCBANK.NS.csv')

In [4]:
df.head()

,Price,Date,Close,High,Low,Open,Volume
0,Ticker,NaN,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS
1,0,2024-11-28,884.6176147460938,905.8061839354122,882.07694483503,897.3702251985009,35722392
2,1,2024-11-29,886.04833984375,890.2662893460416,879.561016559754,888.6383310231244,27669536
3,2,2024-12-02,890.3156127929688,892.0176431336934,875.6636867426915,889.7236388960249,15110876
4,3,2024-12-03,900.9715576171875,906.4475265301775,895.9395389832724,899.1955156163089,43410242

In [7]:
df.columns

Index(['Price', 'Date', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [6]:
df.head()

,Price,Date,Close,High,Low,Open,Volume
0,Ticker,NaN,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS
1,0,2024-11-28,884.6176147460938,905.8061839354122,882.07694483503,897.3702251985009,35722392
2,1,2024-11-29,886.04833984375,890.2662893460416,879.561016559754,888.6383310231244,27669536
3,2,2024-12-02,890.3156127929688,892.0176431336934,875.6636867426915,889.7236388960249,15110876
4,3,2024-12-03,900.9715576171875,906.4475265301775,895.9395389832724,899.1955156163089,43410242